<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pokemon Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <h1>{{nama}}</h1>
        <img src="{{gambar}}" alt="Gambar poke">
    <h3>Id :{{id}}</h3>
    <h3>Height:{{tinggi}}</h3>
    <h3>Weight:{{berat}}</h3>
    
    <form action="http://localhost:5000/">
        <button type="submit">Kembali</button>
    </form>

</body>
</html>